*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:linear-gradient(135deg,#2563eb,#06b6d4);

text-align:center;

color:white;

padding:40px;

}

h1{

margin-bottom:50px;

font-size:45px;

}

.services{

display:flex;

flex-direction:column;

gap:25px;

margin-bottom:50px;

}

.services h2{

background:white;

color:#1e3a8a;

padding:20px;

border-radius:15px;

width:70%;

margin:auto;

transition:.4s;

}

.services h2:hover{

transform:translateX(15px);

background:#facc15;

}

a{

display:inline-block;

margin-top:30px;

padding:18px 35px;

background:#0f172a;

color:white;

text-decoration:none;

font-size:22px;

border-radius:15px;

transition:.5s;

}

a:hover{

background:#facc15;

color:black;

}