*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:linear-gradient(135deg,#0f172a,#1e3a8a);

text-align:center;

color:white;

}

header{

padding:40px;

}

header h1{

font-size:45px;

}

marquee{

margin-top:20px;

font-size:22px;

background:white;

color:#0f172a;

padding:15px;

font-weight:bold;

}

.gallery{

display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

flex-wrap:wrap;

}

.gallery img{

width:300px;

height:220px;

border-radius:15px;

transition:.5s;

box-shadow:0 0 20px black;

}

.gallery img:hover{

transform:scale(1.08);

}

.button-box{

margin-top:50px;

margin-bottom:50px;

}

button{

padding:18px 40px;

font-size:22px;

border:none;

border-radius:15px;

background:#38bdf8;

cursor:pointer;

transition:.4s;

}

button:hover{

background:#facc15;

transform:scale(1.1);

}